html, body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    overflow: hidden;
}

#index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#serverstatus {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
}

.container {
    margin: 1rem;
}

#https_notice {
    display: none;
}